.photos-main
  =render './shared/header-photos';
  .photos-main__title
    %span 写真
    %p photos
  %h3 favorite_photos@japan
  .photos-main__contents
    .photos-main__contents__content
      = image_tag"DSC_8387.jpg"
      %p @神戸 六甲山
    .photos-main__contents__content
      = image_tag"DSC_7190.jpg"
      %p @神戸　ハーバーランド
    .photos-main__contents__content
      = image_tag"DSC_7197.jpg"
      %p @神戸　ハーバーランド
  .photos-main__contents
    .photos-main__contents__content
      = image_tag"DSC_7209.jpg"
      %p @神戸　ハーバーランド
    .photos-main__contents__content
      = image_tag"DSC_7255.jpg"
      %p @神戸　ハーバーランド
    .photos-main__contents__content
      = image_tag"DSC_7647.jpg"
      %p @神戸　カメラワークショップ
  .photos-main__contents
    .photos-main__contents__content
      = image_tag"DSC_7649.jpg"
      %p @神戸　カメラワークショップ
    .photos-main__contents__content
      = image_tag"DSC_7654.jpg"
      %p @神戸　カメラワークショップ
    .photos-main__contents__content
      = image_tag"DSC_7973.jpg"
      %p @神戸　生田神社
  .photos-main__contents
    .photos-main__contents__content
      = image_tag"DSC_7977.jpg"
      %p @神戸　生田神社
    .photos-main__contents__content
      = image_tag"DSC_8003.jpg"
      %p @神戸　南京町
    .photos-main__contents__content
      = image_tag"DSC_8005.jpg"
      %p @神戸　南京町
  .photos-main__contents
    .photos-main__contents__content
      = image_tag"DSC_8192.jpg"
      %p @神戸　布引滝
    .photos-main__contents__content
      = image_tag"DSC_8195.jpg"
      %p @神戸　布引滝
    .photos-main__contents__content
      = image_tag"DSC_8243.jpg"
      %p @神戸　布引滝
  .photos-main__contents
    .photos-main__contents__content
      = image_tag"DSC_8264.jpg"
      %p @神戸　布引滝
    .photos-main__contents__content
      = image_tag"DSC_8276.jpg"
      %p @大阪　万博公園
    .photos-main__contents__content
      = image_tag"DSC_8330.jpg"
      %p もも
  .photos-main__contents
    .photos-main__contents__content
      = image_tag"DSC_7010.jpg"
      %p @岡山　岡山城
    .photos-main__contents__content
      = image_tag"DSC_7099.jpg"
      %p @岡山　後楽園
    .photos-main__contents__content
      = image_tag"DSC_9136.jpg"
      %p @香川　父母ヶ浜
  %h3.overseas favorite_photos@overseas
  .photos-main__contents
    .photos-main__contents__content
      = image_tag"DSC_5368.jpg"
      %p @カンボジア　プレアビフィア
    .photos-main__contents__content
      = image_tag"DSC_5377.jpg"
      %p @カンボジア　プレアビフィア
    .photos-main__contents__content
      = image_tag"DSC_5542.jpg"
      %p @カンボジア　プレアビフィア
    
  .photos-main__contents
    .photos-main__contents__content
      = image_tag"DSC_5468.jpg"
      %p @カンボジア　アンコールワット
    .photos-main__contents__content
      = image_tag"DSC_5499.jpg"
      %p @カンボジア　アンコールワット
    .photos-main__contents__content
      = image_tag"DSC_5551.jpg"
      %p @カンボジア　アンコールワット
  .photos-main__contents
    .photos-main__contents__content
      = image_tag"DSC_5669.jpg"
      %p @カンボジア
    .photos-main__contents__content
      = image_tag"DSC_5423.jpg"
      %p @カンボジア　ベンメリア
    .photos-main__contents__content
      = image_tag"DSC_5626.jpg"
      %p @タイ
  .photos-main__contents
    .photos-main__contents__content
      = image_tag"DSC_5606.jpg"
      %p @タイ国境　ノーンカイ
    .photos-main__contents__content
      = image_tag"DSC_5583.jpg"
      %p @タイ
    .photos-main__contents__content
      = image_tag"DSC_4915.jpg"
      %p @タイ カオサン通り
  .photos-main__contents
    .photos-main__contents__content
      = image_tag"DSC_8792.jpg"
      %p @マレーシア　マラッカ
    .photos-main__contents__content
      = image_tag"DSC_8569.jpg"
      %p @マレーシア　お土産ショップ
    .photos-main__contents__content
      = image_tag"DSC_5821.jpg"
      %p @ラオス
  
  =render "./shared/footer"