.works-main
  =render "./shared/header-works"
  .works-main__title
    %span 作品紹介
    %p works
  .works-main__contents
    .works-main__contents__content
      = link_to "http://13.112.45.101/" do
        = image_tag"mercari"
      %h3 mercariコピーサイト（TechExpert卒業作品）
      %p ruby/rails/htmlcss/JS/github/aws/aws_s3
    .works-main__contents__content
      = link_to "#" do
        = image_tag""
    .works-main__contents__content
      = link_to "#" do
        = image_tag""